.cart {
    padding: 20px;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #f1f1f1;
    box-shadow: 0px 10px 10px rgb(243, 243, 243);
    transform: translateX(100%);
    transition: all 1s ease-in-out;
     ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
     ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
     ::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #ffffff;
        border-radius: 50px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }
     ::-webkit-scrollbar-thumb:active {
        background: #ffffff;
    }
     ::-webkit-scrollbar-track {
        margin-bottom: 5px;
        margin-top: 5px;
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 50px;
    }
     ::-webkit-scrollbar-track:hover {
        background: #666666;
    }
     ::-webkit-scrollbar-track:active {
        background: #333333;
    }
     ::-webkit-scrollbar-corner {
        background: transparent;
    }
    i {
        cursor: pointer;
        font-size: pxToRem(30);
    }
    &__items {
        height: calc(100vh - 150px);
        overflow-y: scroll;
    }
    &__item {
        margin: 5px 0px;
        font-style: italic;
        padding: 5px;
        background-color: white;
        @include createFlex(row, space-between, center, wrap);
    }
    &__item-inner {
        @include createFlex(row, space-between, center, null);
    }
    &__description {
        h2,
        h3 {
            margin: 5px 0px;
        }
        h2 {
            font-size: pxToRem(16);
            min-width: 100%;
        }
        h3 {
            font-size: pxToRem(12)
        }
    }
    &__image {
        width: 50%;
        img {
            width: 100%;
        }
    }
    button {
        cursor: pointer;
        font-weight: bold;
        padding: 5px 20px;
        width: 100%;
        color: white;
        background-color: red;
        border: 0px;
        outline: none;
        @include createFlex(row, center, center, null);
        &:hover {
            opacity: 0.8;
        }
        svg {
            color: white;
        }
    }
    &__bag {
        position: absolute;
        bottom: 90px;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
        button {
            background-color: greenyellow;
        }
    }
    &__clear-cart {
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: 90% !important;
        background-color: red !important;
        transform: translateX(-50%)
    }
}