.feature {
    margin: 100px 0px;
    @include createFlex(row, center, flex-start, null);
    &__images {
        margin: 0px 50px;
        width: 18.5%;
        order: 2;
        @include createFlex(column, center, flex-start, null);
        &.fromRight {
            order: 1;
        }
        img {
            width: 100%;
        }
    }
    &__product {
        order: 1;
        &.fromRight {
            order: 2;
        }
        width: 40%;
    }
    &__image {
        padding: 20px;
        &.active {
            border: 2px solid yellowgreen;
            border-radius: 5px;
        }
    }
    &__product-text {
        h3:first-of-type {
            font-style: italic;
        }
        h3:last-of-type {
            text-decoration: underline;
        }
    }
}