.footer {
    margin-top: 100px;
    padding: $p-zero $p-lg $p-lg;
    box-sizing: border-box;
    background-color: #f1f1f1;
    box-shadow: 0px -10px 10px rgb(243, 243, 243);
    @include createFlex(row, space-between, flex-start, wrap);
    @include breakpoint-down(small) {
        padding: $p-zero $p-sm $p-lg;
    }
    i {
        margin-top: 5px;
        margin-right: 5px;
    }
    ul {
        list-style-type: none;
        margin: $m-zero;
        padding: $m-zero;
    }
    &__field {
        @include breakpoint-down(small) {
            margin-top: 120px;
            position: relative;
            top: -100px;
        }
        input {
            width: 300px;
            height: 40px;
            border: 1px solid black;
            border-right: 0px;
            @include breakpoint-down(small) {
                width: 200px;
            }
        }
    }
    &__btn {
        font-weight: bold;
        color: white;
        background-color: black;
        border: 0px;
        outline: 0px;
        width: 100px;
        height: 44px;
        position: relative;
        top: -1px;
        left: 0px;
        @include breakpoint-down(medium) {
            top: 0px;
        }
        @include breakpoint-down(small) {
            top: -1px;
        }
        &:active {
            border: 0px;
            outline: 0px;
        }
    }
}