.modal {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.50);
    animation: fadeIn 0.5s ease-in-out;
    @include createFlex(row, center, flex-start, null);
    &__sizes-wrapper {
        padding: 10px 0px;
        background-color: white;
        @include createFlex(row, center, center, null);
    }
    &__size-btn {
        cursor: pointer;
        font-weight: 500;
        margin: 0px 2px;
        padding: 5px 10px;
        box-shadow: 0px 0px 1px black;
        transition: all 0.3s ease-in-out;
        &:hover,
        &.active {
            color: white;
            background-color: black;
        }
    }
    &__colour {
        @include createFlex(row, flex-start, center, wrap);
        div {
            margin: 0px 3px;
            height: 25px;
            width: 25px;
            border-radius: 100%;
        }
        &-red {
            background-color: red;
        }
        &-black {
            background-color: black;
        }
        &-brown {
            background-color: brown;
        }
        &-white {
            background-color: #f3f2f2;
        }
        &-green {
            background-color: green;
        }
    }
    &__modal {
        position: relative;
        top: -20px;
        left: 0px;
        padding: $p-med 0px;
        margin-top: 50px;
        height: 70vh;
        background-color: white;
        @include createFlex(column, space-between, space-between, null);
        @include breakpoint-down(small) {
            top: 20%;
            height: 50vh;
            padding: $p-sm 0px;
            width: 90vw;
            img {
                height: 50% !important;
            }
        }
        img {
            display: block;
            margin: 0px auto;
            height: 90%;
        }
        @include btn();
        h3 {
            padding: 10px 0px;
            margin: 0px;
            margin-top: -2px;
            background-color: white;
            text-align: center;
        }
        button {
            font-weight: bold;
            color: white;
            cursor: pointer;
            min-width: 100%;
            background-color: greenyellow;
            transition: 0.3s ease-in-out;
            svg {
                opacity: 0;
                transform: translateX(15px);
                transition: all 0.5s ease-in-out;
            }
            &:hover {
                svg {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
    }
    &__inCart {
        font-weight: bold;
        color: white;
        cursor: pointer;
        min-width: 100%;
        background-color: greenyellow;
        text-align: center;
        padding: 10px 0px;
    }
    &__close-modal {
        cursor: pointer;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 25px;
        height: 25px;
        font-weight: bold;
        color: white;
        background-color: rgb(253, 134, 134);
        border: 3px solid white;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: rgb(255, 0, 0);
            transform: rotateX(360deg)
        }
        @include createFlex(row, center, center, null);
    }
}