a {
    cursor: pointer;
    text-decoration: none;
    color: $black;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.container-inner {
    @include createFlex(row, center, center, wrap)
}

.italic {
    font-style: italic;
    text-decoration: underline;
}

[class^='title'] {
    font-size: pxToRem(60);
    text-align: center;
    text-decoration: underline;
}

.title-clothes {
    color: orangered;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 150px inset black;
}