/*------------------------COLORS--------------------------*/

$black:#2d2d2d;
$badge:rgb(255, 224, 124);

/*------------------------FONTS---------------------------*/

$font-nav:'Roboto',
sans-serif;

/*------------------------PADDING-------------------------*/

$p-zero:0px;
$p-xs:5px;
$p-sm:10px;
$p-med-sm:20px;
$p-med:25px;
$p-med-lg:30px;
$p-lg:50px;

/*------------------------MARGIN--------------------------*/

$m-zero:0px;
$m-xs:5px;
$m-sm:10px;
$m-med-sm:20px;
$m-med:25px;
$m-med-lg:30px;
$m-lg:50px;