.home {
    &__title {
        font-size: pxToRem(45);
        color: red;
        text-align: center;
        text-decoration: underline;
    }
    &__main {
        position: relative;
        top: 400px;
    }
    &__products {
        @include createFlex(row, center, center, wrap)
    }
}