.home {
    .carousel {
        margin: 0px;
    }
    #article {
        margin: 100px 0px -100px;
    }
    &__feature {
        min-width: 55%;
        padding: 0px $p-lg;
        @include createFlex(row, space-between, center, null);
        img {
            width: 100%;
            animation: scale 28s ease-in-out infinite;
        }
    }
    &__image-group {
        margin-left: 20px;
        width: 39.5%;
        @include createFlex(column, center, center, null);
        img {
            width: 100%;
        }
    }
    &__image {
        cursor: pointer;
        overflow: hidden;
        margin: 10px 0px;
        position: relative;
        top: 0px;
        left: 0px;
        &:first-of-type {
            .button {
                left: 0px;
            }
        }
        &:hover {
            button {
                left: 0px;
            }
        }
        @include btn();
        button {
            position: absolute;
            bottom: 70px;
            left: -250px;
            transition: all 0.5s ease-in-out;
            &:last-of-type {
                bottom: 20px;
                transition: all 0.7s ease-in-out;
            }
        }
    }
    &__article {
        padding: 100px $p-lg;
        &-inner {
            @include createFlex(row, center, center, wrap);
        }
    }
    &__article-images {
        max-width: 45%;
        position: relative;
        top: 0px;
        left: 0px;
        img {
            width: 95%;
            position: relative;
        }
    }
    &__article-text {
        margin-left: 100px;
        max-width: 45%;
        h2 {
            font-size: pxToRem(40);
        }
        p {
            width: 80%;
            text-align: justify;
        }
    }
}