.jewelery {
    .carousel__slide-1-text {
        @include breakpoint-down(small) {
            bottom: 100px !important;
        }
    }
    .carousel__slide-2-text {
        @include breakpoint-down(small) {
            bottom: 100px !important;
        }
    }
    .carousel__slide-3-text {
        @include breakpoint-down(small) {
            bottom: 100px !important;
        }
    }
    .feature__images {
        margin: 0px 100px;
    }
}