.women {
    .carousel {
        margin: 0px;
    }
    .carousel__slide-1-text {
        h2,
        h3,
        h6,
        p {
            color: black;
        }
    }
    .carousel__slide-2-text {
        h2,
        h3,
        h6,
        p {
            color: black;
        }
    }
}